@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,900&display=swap');

:root {

  --white-text: #ffffff;
  --black-text: #000000;

  --link-color: #6a6b66;
  --link-color-hover: #377454;
  --link-color-background-hover: #f5a81f;
  --link-color-text-hover: #ffffff;

  --disclaimer-background: #f3a71d;

  --breadcrumb-background: #122c41;

  --heading-color: #132e41;

  --search-bar-bg: #fcf7fb;

  --button-background: #f5a81f;
  --button-hover-background: #f6b238; 

  --card-background: #eaeef9;
  --card-text: #132e41;

  --playlist-card-background: #fff7ea;
  --fitness-card-background: #ebf7f7;

  --pill-color: #bf377c;

  --crisis-background: #f8edf3;
  --crisis-hover-background: #f9e8f1;

  --crisis-button-background: #f5e4ec;
  --crisis-button-text: #c23172;
  --crisis-button-border: #c23172;

} 

/* Media Queries */
@media only screen and (max-width: 768px) {
  .site-title {
    font-size: 20px;
  }

  .site-subtitle {
    font-size: 16px;
  }

  .profile-picture {
    width: 30px;
    height: 30px;
  }

  .dropdown:hover .dropdown-menu {
    display: flex;    
  }

  .dropdown-menu.show {
    display: flex;
  }

  .dropdown:hover .dropdown-menu {
    max-height: 350px;
    overflow-y: scroll;
  }

}

/* Reset CSS */
html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  color: #132e41;
  font-weight: 800; 
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

a:link {
  color: var(--link-color);
}

a:link:hover {
  color: var(--link-color-hover);
}

a:link:visited {
  color: var(--link-color);
}

a:hover { 
  color: var(--link-color-hover);
}

a.cat-link {
  color: var(--link-color);
}

a:hover.cat-link {
  color: var(--link-color-hover);
}

a.tag-link {
  color: var(--white-text);
}

a.tag-link:hover {
  color: var(--link-color-hover);
}

.aioseo-breadcrumb a:hover {
  color: var(--white-text);
}

.site-info h2 {
  font-weight: 700;
  color: #132e41;
}

.logo img {
  height: 100%; /* Adjust the height as needed */
  width: 300px;
}

.site-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.site-subtitle {
  font-size: 14px;
  color: #888888;
}

.disclaimer {
  background-color: var(--disclaimer-background);
}

.disclaimer p {
  color: var(--black-text);
}

.disclaimer a {
  color: var(--black-text);
}

.disclaimer a:hover {
  color: var(--link-color-hover);
}

img.page-profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: right;

}

.tlp-content {
  background: var(--card-background) !important;
}

.rt-team-container  .single-team-area h3, .layout1 .single-team-area h3 a {
  color: var(--card-text) !important;
}

.tlp-position a {
  color: var(--card-text) !important;  
}

i.far.fa-envelope {
  color: var(--pill-color);
}

i.fa.fa-phone-alt {
  color: var(--pill-color);
}

i.fa-mobile {
  color: var(--pill-color);
}

/*Pagination Styling */

a.next.page-link {
  background-color: var(--breadcrumb-background);
  color: var(--white-text);
}

a.prev.page-link { 
  background-color: var(--breadcrumb-background);
  color: var(--white-text);
}

a.page-link { 
  background-color: var(--breadcrumb-background);
  color: var(--white-text);
}

a:hover.page-link { 
  background-color: var(--breadcrumb-background);
  color: var(--white-text);
}

span.page-link.current { 
  background-color: var(--button-background);
  color: var(--black-text);
  border-color: var(--button-background);
}

/* Search Input Styling */

.input.form-control {
  background-color: var(--search-bar-bg);
}

.btn-outline-success { 
  background-color: var(--button-background);
  border: 0px;
  font-weight: bold;
  color: var(--black-text) !important;
}

.btn-outline-success:hover { 
  background-color: var(--button-hover-background);
  border: 0px;
  font-weight: bold;
  color: var(--black-text) !important;
}

.btn-primary {
  background-color: var(--button-background);
  border: 0px;
  font-weight: bold;
  color: var(--black-text) !important; 
}

.btn-primary:hover {
  background-color: var(--button-hover-background);
  border: 0px;
  font-weight: bold;
  color: var(--black-text) !important; 
}

a.nav-link.crisis-help { 
  background-color:  var(--crisis-button-background);
  border-radius: 5px;
  border: solid 2px #c23172;
  color: var(--crisis-button-text);
}

a:visited.nav-link.crisis-help { 
  background-color:  var(--crisis-button-background);
  border-radius: 5px;
  color: var(--crisis-button-text);
}

a:hover.nav-link.crisis-help { 
  background-color:  var(--crisis-button-background) !important;
  border-radius: 5px;
  border: solid 2px #c23172;
  color: var(--crisis-button-text) !important;
}

/* Crisis Icons */

.crisis-list 
{
  list-style: none;
}

.crisis {
  background-color: var(--crisis-background);
  border-radius: 5px;
}

.app-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  
}

.app-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--crisis-background);
  border-radius: 5px;
  padding: 10px;
}

.app-icon:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--crisis-hover-background);
  border-radius: 5px;
  padding: 10px;
}

.app-image {
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
}

.nav-link {
  color: var(--link-color);
  font-weight: 600;
}

.nav-link:last-child {
  margin-right: 10px;
}

.nav-link.active {
  color: var(--link-color);
}

.nav-link.active:hover {
  background-color: var(--link-color-background-hover) !important;
  border-radius: 5px;
  color: var(--black-text) !important;
}

.nav-link:hover {
  background-color: var(--link-color-background-hover) !important;
  border-radius: 5px;
  color: var(--black-text) !important;
}

.feature {
  background-color: #f1f5f6;
  border-radius: 5px; /* Added border radius */
  padding: 10px; /* Added padding */
}

.jumbotron {
  background-image: url('../img/header.webp');
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  min-height: 300px !important;
  color: #fff;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px !important;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency (last value) as needed */
}

.jumbotron-content {
  max-width: 800px;
  margin: 0 auto;
}

.jumbotron-title {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.jumbotron-description {
  font-size: 18px;
  margin-top: 20px;
}
  
.sidebar-section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  position: relative;
}
  
.sidebar-section h2 {
  margin-bottom: 10px;
}

.blog-post {
  background-color: #E8EDEE;
  max-width: 400px;
  margin: 2px;
  padding: 20px;
  margin-bottom: 20px;
}

.blog-post h2 {
  color: var(--heading-color);
  text-decoration: none;
}

.content-card {
  background-color: #E8EDEE;
  width: 18rem;
  padding: 20px;
}

.blog-post a {
  text-decoration: none;  
}

.blog-post a:hover {
  text-decoration: underline;
}

.blog-post a:visited {
  text-decoration: none;
  
}

.blog-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--heading-color)
}

a.blog-title {
  color: var(--heading-color);
}

a:visited.blog-title {
  color: var(--heading-color);
}

.food-title {
  position: relative; /* Ensure it positions relative to the card */
  z-index: 2; /* Ensure it stays above the banner */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--heading-color)
}

a.food-title {
  color: var(--heading-color);
}

a:visited.food-title {
  color: var(--heading-color);
}

.featured-blog-title {
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--heading-color)
}

a.featured-blog-title {
  color: var(--heading-color);
}

a:visited.featured-blog-title {
  color: var(--heading-color);
}

.blog-meta {
  color: var(--heading-color);
  margin-bottom: 10px;
}
  
.author,
.publish-date {
  margin-right: 10px;
}

.thumbnail {
  float: right;
  border-radius: 5px;
  width: 100px;
  margin: 0 0 10px 10px;
}
  
.excerpt {
  margin-bottom: 10px;
}

.read-more {
  color: #005EB8;
}

a.tag-link {
  color: var(--white-text);
  text-decoration: none;
}

a.tag-link:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

.blog-tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  background-color: var(--pill-color);
  color: var(--white-text);
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
}

a.custom-category-pill {

  top: 10px;
  left: 10px;
  background-color: var(--pill-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
}

a:hover.custom-category-pill {

  top: 10px;
  left: 10px;
  background-color: var(--pill-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: underline;
}

a:visited.custom-category-pill {

  top: 10px;
  left: 10px;
  background-color: var(--pill-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}

/* Home Page Cards */

.custom-card {
  border-radius: 0px;
  border: 0px;
  background-color: var(--card-background);
  min-height: 20vh;
  overflow: hidden; /* Ensure the image doesn't overflow */
  position: relative; /* Positioning context for the pill */
  text-align: center;
}

a.custom-card-link {
  text-decoration:  none;
}

.custom-card img {
  border-radius: 0px;
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the entire top half */
  z-index: 1; /* Set a lower z-index than the pill to make it appear below */
}

.custom-card .card-body {
  padding: 20px; /* Add padding to the card body */
}

.custom-card .card-title {
  color: #333;
}

.custom-card .card-text {
  color: var(--card-text);
}

/*Ingredients Card */

.ingredients-card {
  border-radius: 0px;
  border: 0px;
  background-color: var(--card-background);
  min-height: 20vh;
  overflow: hidden; /* Ensure the image doesn't overflow */
  position: relative; /* Positioning context for the pill */
  text-align: center;
}

a.ingredients-card-link {
  text-decoration:  none;
}

.ingredients-card img {
  border-radius: 0px;
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the entire top half */
  z-index: 1; /* Set a lower z-index than the pill to make it appear below */
}

.ingredients-card .card-body {
  padding: 20px; /* Add padding to the card body */
}

.ingredients-card .card-title {
  color: #333;
}

.ingredients-card .card-text {
  color: var(--card-text);
}

ul.ingredients-list {
  list-style: none;
}

/* Playlist Card */

.playlist-card {
  border-radius: 0px;
  border: 0px;
  background-color: var(--playlist-card-background);
  min-height: 17vh;
  overflow: hidden; /* Ensure the image doesn't overflow */
  position: relative; /* Positioning context for the pill */
  text-align: center;
}

.playlist-card img {
  border-radius: 0px;  
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the entire top half */
  z-index: 1; /* Set a lower z-index than the pill to make it appear below */
}

.playlist-card .card-body {
  padding: 20px; /* Add padding to the card body */
}

.playlist-card .card-title {
  color: #333;
}

.playlist-card .card-text {
  color: var(--card-text);
}

/* Fitness Card */

.fitness-card {
  border-radius: 0px;
  border: 0px;
  background-color: var(--fitness-card-background);
  min-height: 19vh;
  overflow: hidden; /* Ensure the image doesn't overflow */
  position: relative; /* Positioning context for the pill */
  text-align: center;
}

.fitness-card img {
  border-radius: 0px;
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the entire top half */
  z-index: 1; /* Set a lower z-index than the pill to make it appear below */
}

.fitness-card .card-body {
  padding: 20px; /* Add padding to the card body */
}

.fitness-card .card-title {
  color: #333;
}

.fitness-card .card-text {
  color: var(--card-text);
}

/* Featured Card */

.featured-card {
  border: 0px;
  background-color: var(--card-background);
  min-height: 20vh;
  max-height: 20vh;
  overflow: hidden; /* Ensure the image doesn't overflow */
  position: relative; /* Positioning context for the pill */
  text-align: center;
  overflow: hidden;
}

.custom-pill {
  position: absolute;
  font-size: 1.0rem;
  top: 10px;
  left: 10px;
  z-index: 2;
  background-color: var(--pill-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}

a.cat-pills {
  font-size: 0.8rem;
  top: 10px;
  left: 10px;
  z-index: 2;
  background-color: var(--pill-color);
  color: #fff;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
}

.featured-card img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image covers the entire top half */
  z-index: 1; /* Set a lower z-index than the pill to make it appear below */
}

.featured-card .card-body {
  padding: 20px; /* Add padding to the card body */
}

.featured-card .card-title {
  color: #333;
  font-weight: 700;
}

.featured-card .c {
  color: var(--feature-text-color);
}

.featured-card .card-text {
  color: var(--feature-text-color);
}

.banner-card {
  position: relative;
  overflow: hidden; /* Ensure the banner doesn't overflow the card */
  padding-top: 20px; /* Adding padding to ensure the banner is not clipped */
}

.banner-text {
  position: absolute;
  top: 70px; /* Adjust to position banner inside the card */
  left: -25px; /* Adjust to position banner inside the card */
  width: 140px; /* Adjust to fit the length of the text */
  height: 30px; /* Adjust as necessary */
  background-color: #00A9A2; /* Banner background color */
  color: white; /* Banner text color */
  text-align: center;
  line-height: 30px; /* Vertically center the text */
  transform: rotate(-45deg); /* Adjust rotation if needed */
  transform-origin: top left;
  font-size: 14px; /* Adjust as necessary */
  font-weight: bold; /* Adjust as necessary */
  z-index: 1;
  pointer-events: none; /* Ensure the banner doesn't interfere with card interaction */
}
  
/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}  

a.footer-link {
  color: var(--white-text);
  text-decoration: none;
}

a:hover.footer-link {
  color: var(--white-text);
  text-decoration: underline;  
}

/*Therapy Dogs */

.dog-header {
  background-color: #fad5e6; /* Background color of the header */
  color: white;
  padding: 60px 0;
}
.dog-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dog-header-text {
  max-width: 100%;
  margin-bottom: 20px;
}
.dog-header-text h1 {
  font-size: 36px;
  font-weight: bold;
}
.dog-header-text h3 {
  font-size: 24px;
  font-weight: normal;
}
.dog-header-text p {
  font-size: 18px;
}
.dog-header-image img {
  border-radius: 15px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .dog-header-text {
    max-width: 50%;
  }
  .dog-header-text h1 {
    font-size: 48px;
  }
}
.dog-logo-bar {
  background-color: #f287b5; /* Adjust this to match the background color of the logo bar */
  padding: 20px 0;
  text-align: center;
}
.dog-logo-bar img {
  max-height: 60px; /* Adjust this to change the logo size */
  margin: 0 15px;
}        
.dogs-section {
  background-color: #fad5e6; /* Adjust this to match the background color in your image */
  padding: 30px 0;
  color: white;
}
.dog-card {
  background-color: #005eb8; /* Adjust this to match the card background color in your image */
  border: none;
  padding: 20px;
  color: black; /* Adjust this to match the text color in your image */
}
.dog-card {
  border-radius: 0%;
}

.fade-image {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-image:hover {
  opacity: 0.5;
}

/*Neuro */

@media (min-width: 768px) {
  .neuro-header-text {
    max-width: 50%;
  }
  .neuro-header-text h1 {
    font-size: 48px;
  }
}
.neuro-header {
  background-color: #ffffff; /* Background color of the header */
  color: white;
  padding: 60px 0;
}
.neuro-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.neuro-header-text {
  max-width: 100%;
  margin-bottom: 20px;
}
.neuro-header-text h1 {
  font-size: 36px;
  font-weight: bold;
}
.neuro-header-text h3 {
  font-size: 24px;
  font-weight: normal;
}
.neuro-header-text p {
  font-size: 18px;
}
.neuro-header-image img {
  border-radius: 15px;
  max-width: 100%;
}
.neuro-topic-bar {
  background-color: #00A9A2; /* Adjust this to match the background color of the logo bar */
  padding: 20px 0;
  text-align: center;
}
.neuro-topic-bar img {
  max-height: 60px; /* Adjust this to change the logo size */
  margin: 0 15px;
}        
.neuro-section {
  background-color: #ffffff; /* Adjust this to match the background color in your image */
  padding: 30px 0;
  color: white;
}

.neuro-card {
  background-color: #0072BC; /* Adjust this to match the card background color in your image */
  border: none;
  padding: 20px;
}
.neuro-card {
  border-radius: 0%;
}

.mhd-card {
  background-color: #6e0fee; /* Adjust this to match the card background color in your image */
  border: none;
  padding: 20px;
}

.mhd-card {
  border-radius: 0%;
}

.mhd-card-alt {
  background-color: #78d64b; /* Adjust this to match the card background color in your image */
  border: none;
  padding: 20px;
}

.mhd-card {
  border-radius: 0%;
}

.btn-mhd {
  background-color: #f8607c;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  color: white;
}

a.btn-mhd {
  background-color: #f8607c;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  color: white;
}

.btn-mhd:visited {
  background-color: #f8607c;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  color: white;
}


.btn-mhd:active {
  background-color: #f8607c;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  color: white;
}

a.btn-mhd:hover {
  background-color: #f8607c;
  opacity: 0.8;
  color: white;
}

.btn-neuro {
  background-color: #F3A71D;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  color: white;
}

.btn-neuro:hover {
  background-color: #F3A71D;
  opacity: 0.8;
  color: white;
}

.alert {
  border-radius: 0;
}